*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.accordion-top {
    margin-top: 5rem;
}

.images-dic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

@media only screen and (max-width: 576px) {
    .images-dic {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    .accordion .accordion-collapse strong {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 576px) {
    .accordion .accordion-collapse strong {
        font-size: 1rem;
    }
}