*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.accordion-top {
    margin-top: 5rem;
}

.images-dic {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.images-dic img {
    width: 500px;
    margin: 1rem 0;
}

@media only screen and (max-width: 576px) {
    .images-dic img {
        width: 100%;
        margin: 1rem 0;
    }
    .images-dic {
        display: flex;
        flex-direction: column;
        gap: 1rem 0;
        flex-wrap: wrap;
    }
    .accordion .accordion-collapse strong {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 576px) {
    .accordion .accordion-collapse strong {
        font-size: 1rem;
    }
}